// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    border-collapse: collapse
}

tr {
    border-bottom: 1pt solid black;
    height: 2rem;
    text-align: left;
}

td, th {
    padding: 0 1em;
}